<!-- <section>
    {{ with .Site.Params.recentworks.title }}
        <h2>{{ . }}</h2>
    {{ end }}

	<div class="row">
        <br>
        <p>
        <ul class="recent-works">
        {{ range first 5 (where .Data.Pages "Section" "work") }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
        </p>
	</div>
</section> -->

{{ "<!-- portfolio -->" | safeHTML }}
<section>
	{{ with .Site.Params.recentworks.title }}
        <h2>{{ . }}</h2>
    {{ end }}
	<div class="row">
		{{ range first 15 (where .Data.Pages "Section" "work") }}
		<article class="6u 12u$(xsmall) work-item">
            <a href="{{ .Permalink }}"> <img style="max-height:250px;"{{ with .Params.painting }} src="{{ . }}"{{ end }} alt="{{ .Title }}" class="image fit thumb"></a>
            <h3>{{ .Title }}</h3>
            <p>{{ .Type}}</p>
		</article>
		{{ end }}
	</div>
</section>

