{{ define "main" }}
	<img{{ with .Params.painting }} src="{{ . }}"{{ end }} alt="{{ .Title }}" style="width:100%"> 
	<span>
		<h1>{{ .Title }}</h1>
		<p>{{.Date.Format "2 Jan 2006"}}</p>
		<!-- {{ partial "post-meta" . }} -->
	</span>
	<span>
		<p>{{ .Params.type}}</p>
		<p>{{ .Params.details}}</p>
		<p>{{ .Params.description}}</p> 
		<p>{{ .Params.file}}</p> 
	</span>
	{{ if eq .Params.buy true }}
		<!-- Price: {{ .Params.price }} -->
		<button
			class="snipcart-add-item"
			data-item-id="3"
			data-item-name={{ .Title }}
			data-item-price="5"
			data-item-weight="10"
			data-item-url= {{ .Permalink }}
			data-item-description={{ .Params.description }}
			Buy
		</button>
	{{ end }}
	<p>
	    {{ .Content }}
	</p>

	{{ template "_internal/disqus.html" . }}
{{ end }}
