{{ define "main" }}
	<img{{ with .Params.painting }} src="{{ . }}"{{ end }} alt="{{ .Title }}" style="width:100%"> 
	<span>
		<h1>{{ .Title }}</h1>
		<p>{{.Date.Format "2 Jan 2006"}}</p>
		<!-- {{ partial "post-meta" . }} -->
	</span>
	<span>
		<p>{{ .Params.type}}</p>
		<p>{{ .Params.details}}</p>
		<p>{{ .Params.description}}</p> 
		<p>{{ .Params.file}}</p> 
	</span>
	<button
		class="snipcart-add-item"
		data-item-id="2"
		data-item-name="Bacon"
		data-item-price="3.00"
		data-item-weight="20"
		data-item-url= "{{ .Permalink }}"
		data-item-description="Some fresh bacon">
        Test buy
		</button>
	<p>
	    {{ .Content }}
	</p>

	{{ template "_internal/disqus.html" . }}
{{ end }}
