{{ define "main" }}
	<img{{ with .Params.painting }} src="{{ . }}"{{ end }} alt="{{ .Title }}" style="max-width:100%; max-height:90vh"> 
	<span>
		<h1>{{ .Title }}</h1>
		<p>{{.Date.Format "2 Jan 2006"}}</p>
		<!-- {{ partial "post-meta" . }} -->
	</span>
	<span>
		<p>{{ .Params.type}}</p>
		<p>{{ .Params.details}}</p>
		<p>{{ .Params.description}}</p> 
		<p>{{ .Params.file}}</p> 
	</span>
	{{ if eq .Params.buy true }}
	Price: €{{ .Params.price }}	&nbsp 
	<button
		class="snipcart-add-item"
		data-item-id={{ .UniqueID }}
		data-item-name={{ .Title }}
		data-item-price={{ .Params.price }}
		data-item-url=https://www.miriamdenardi.it{{ .URL }}
		data-item-description={{ .Params.description }}>
		Buy
	</button>
	{{ end }}
	<p>
	    {{ .Content }}
	</p>

	{{ template "_internal/disqus.html" . }}
{{ end }}
